
<h1>Archived Quotes - RentMasters </h1>

  <% @quotes = Quote.order('id DESC') %>
  <% @quotes.each do |quote| %>
    <div class="main-section col-12">
      <div class="title-list col-10">
        <h5> <%= quote.neighborhood %> -
        </h5>
      </div>
      
      <div>
        <div class="edit-button">
          <!-- %= link_to 'View Estimate', quotes_slug_path(:slug => quote.slug), :class=> "link-b" %> -->
          <%= link_to 'View Estimate', quote_path(:slug => quote.slug, :id => 0), :class=> "link-b" %>
          <!-- %= link_to 'View Estimate', quote_path(quote), :class=> "link-b" %> -->
          </div>
          <!-- DELETE BUTTON NOT WORKING AS OF JAN1-2016 -->
        <div class="delete-button">
          <%= link_to 'Delete', url_for('/quotes-admin-index-5567'), :class=> "link-b" #,
              # method: :delete,
              # data: { confirm: 'Are you sure?' } 
              %>
              </div>
      </div>
      <br>
      <hr class="cl-b">
    </div>
  <% end %>


