<div class="col-md-1"> </div>
<div class="col-md-11">
<h1>We're sorry to hear that. Please share the primary reason you're not interested.</h1>
<form>
  <input type="checkbox" name="feedback" value="timing">
    Now just isn't the right time. Perhaps this may make sense sometime down the road. <br>
  <input type="checkbox" name="feedback" value="price">
    My estimate was much too low for me to consider moving. <br>
  <input type="submit" value="Submit Feedback">
</form>

<p>If you have any other feedback or suggestions, please do let us know by emailing us at <a href="mailto:info@rentmasters.co">info@rentmasters.co</a></p>

<div class="vertical_space cl-b"> </div>

</div>
