<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>
      Hi <%= @user.first_name %>,
    </p>
    <p>
      Thanks for using our tool to estimate the true value of your rent control. Whether you are actively interested in seeking a relocation agreement, or were simply curious about the topic, our team here at Rent Masters is eager to assist you in any way that we can.
    </p>
    <p>
      If you would like to revisit your estimate at a future time, simply bookmark this link: <a href="www.rentmasters.co/quotes/<%= @user.slug %>"> www.rentmasters.co/quotes/<%= @user.slug %> </a>. Please be aware that we are constantly updating our valuation model based on the most recent housing market data, so your estimate may change slightly over time.
    </p>
    <p>
      For a limited time, we are offering a <b> free 30-minute phone consultation</b> to any interested tenants (no fees or deposit required whatsoever). If you are interested, please simply let us know a few times that you are available over the next two weeks, and we can coordinate that call.
    <p>
      Likewise, if you have any questions you would like to send over email, that is perfectly fine as well. If anything was unclear on the website, or if you'd simply like to share feedback about your experience, please do!
    </p>
    <p>Thanks so much,<br>
    -Brian <br>Founder & CEO, Rent Masters LLC
    </p>
    <h5> --- If you would no longer like to receive emails from us, you may <a href="http://goo.gl/forms/e4DDL53TWe">unsubscribe here </a> ---- </h5>
  </body>
</html>
