<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to RentMasters.co!</h1>
    <p>
      You have successfully signed up to RentMasters.co,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, to revisit your estimate at a future time, just follow this link: <a href="www.rentmasters.co/quotes/<%= @user.slug %>"> www.rentmasters.co/quotes/<%= @user.slug %> </a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>