<h1>
	Welcome to Your Profile Page.
</h1>

<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<p>
	This is a profile page.
	Your userid is <%= @user.id %>.
</p>
<p>
	Your email is <%= @user.email %>.
</p>