
 <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-color:#48B9FF;"></div>
                <div class="carousel-caption">

                    <h2>Tomorrow you stumble upon a <br> lotto ticket worth <span class="money"> $50,000!</span>
                     <br>
                        Are you willing to leave your apartment to claim it?
                    </h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-color:#48B9FF;"></div>
                <div class="carousel-caption">
                    <h2>At Rent Masters we help tenants in San Francisco discover and utilize the most valuable asset they didn't know they owned, their <span class="money"> <strong> rent control. </strong> </span> </h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-color:#48B9FF;"></div>
                <img src="assets/rm-logo.jpg" class="nav-logo" alt="Rent Mastesr">
                <div class="carousel-caption">
                    <h2>Sign up today to discover the true value of your rent control asset.</h2>
                    <a href="quotes/new" class="btn btn-hero">Tell me more</a>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-9">
                    <h4>In just a few clicks, discover the fair market value of your own rent-controlled apartment.</h3>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-lg btn-default btn-block" href="../quotes/new">Get your estimate</a>
                </div>
            </div>
        </div>

    <!-- Page Content -->
    <div class="banner-imgs">
        <img class="col-md-6 img-banner" src="http://36.media.tumblr.com/f34557b271ec49de7d7b1a3dafa25ca4/tumblr_mh2t0niaAW1qz82gvo1_1280.jpg" alt="no image">
        <img class="col-md-6 img-banner" src="http://i.huffpost.com/gen/1134593/images/o-SAN-FRANCISCO-PAINTED-LADIES-facebook.jpg" alt="no image">
    </div>



        <!-- Features Section -->
        <div class="row">
            <div class="col-md-12" id="how_it_works">
                <h2 class="page-header">How Rent Masters Works</h2>
            </div>
            <div class="col-md-10">
                <h3>At Rent Masters we empower renters to make good decisions. Namely, would it be a good decision to move out of your apartment in exchange for a relocation payment? </h3>

                <ol>
                    <li class="steps-how-it-works"> Understand the landscape: your rent control <strong>is an asset.</strong>
                        <ul>
                            <li> It comes in the form of a monthly savings that you could otherwise be paying toward rent </li>
                            <li>Unlike other assets, it is mostly <strong>illiquid,</strong> and non-transferable. Which is why you haven't seriously considered moving apartments for the last XX years. </li>
                        </ul>
                    </li>
                    <li class="steps-how-it-works"> Know the value of that asset. Our proprietary model will help you out. Easier than using Kelly Blue Book to see what your car is worth. </li>
                    <li class="steps-how-it-works">Decide if you want to move forward.
                        <ul>
                            <li>We can't make the decision for you, but our staff is here to help. Each set of circumstances are unique, and so all customers are encouraged to take advantage of our free 30-minute consultation.</li>
                        </ul>
                    </li>


                    <li class="steps-how-it-works">What to expect when you move forward.
                        <ul>
                            <li>Week 1: Review estimate & attend 30-minute consulation.</li>
                            <li>Week 2: Initiate contact & schedule meeting with landlord</li>
                            <li>Weeks 3-4: Negotiation and contract review.</li>
                            <li>Weeks 5-10: Mandatory 45-day "buyers remorse" waiting period before move-out date and full contract execution.</li>
                        </ul>
                    </li>
                </ol>
                <h4> Like filing your taxes, you can do it yourself or use a professional. We're here to help at every stage, in the manner that best fits your needs. </h4>
                <h3>Pricing</h3>
                    <ul>
                        <li>For a limited time, the only fee is a $100 fully refundable deposit. </li>
                        <li>If at any time you decide to no longer pursue an agreement, your deposit will be returned within 48hours.</li>
                        <li>The deposit will be kept as payment if and only upon execution of a successful relocation agreement.</li>
                    </ul>
            </div>
        </div>
        <hr>

        <!-- Begin new section -->

        <div class="row">
            <div class="col-md-12" id="impact">
                <h2 class="page-header">Is this even legal?</h2>
            </div>
            <div class="col-md-10">
                <h3>TLDR? Yes, this is 100% legal. Dozens of tenant relocation agreements are signed every month in San Francisco. </h3>

                <h3>The Details:</h3>
                <p> In March 2015, San Francisco enacted definitive regulations governing the process of a landlord and their tenant coming to a relocation agreement that is mutually beneficial. In a nutshell, the process requires a number of filings and disclosures, which are intended to ensure that tenants are fully aware and informed of their rights, and to prevent landlords from wrongfully pressuring uninformed tenants into making a poor decision. Rent Masters abides by all such regulations, and will connect interested customers with our preferred legal partner if the choose to have an extra professional set of eyes review their final contract.
                </p>

                <h3>(But it still feels wrong...?)</h3>
                <h4> Does accepting a relocation agreement contribute to the SF housing crisis? </h4>
                <p>
                    Expect more supporting data & discussion in the future on this topic. As of December 2015, all we can really be sure of is the following set of facts:
                    <ul>
                        <li>The housing crisis in SF is primarily due to an insufficient supply of housing units, given the current demand of citizens to live in the city.</li>
                        <li>When demand exceeds supply, prices go up. If demand softens, prices go down.</li>
                        <li>If you accept a relocation offer and move into another vacant unit, your impact on total housing demand in San Francisco is neutral. </li>
                        <li>If you instead take the relocation money and move to the East Bay, South Bay, Southeast Asia, etc., then your decision has decreased the total demand for SF housing by one unit. </li>
                    </ul>
                </p>
                <p>Whether or not the impact on housing prices of relocation agreements is even measurable remains to be seen. We at Rent Masters are eager to be at the forefront of that measurement, but do not expect that our customers' decisions will be making any problems worse. In addition, we intend to utilize the resources of the company to advocate for and pursue any number of iniatives focused on increasing the <strong>supply </strong> of housing in San Francisco, which we belive is ultimately necessary in order to make housing prices more affordable.</p>


            </div>
        </div>
        <hr>

        <!-- Begin new section -->
        <div class="row">
            <div class="col-md-12" id="faqs">
                <h2 class="page-header">Frequently Asked Questions</h2>
            </div>
            <div class="col-md-10">
                <h3>FAQs are comming soon! </h3>

                <h4> To ask a question, please email <a href="mailto:rentmasters.sf@gmail.com"/> rentmasters.sf@gmail.com </a> </h4>

            </div>
        </div>
        <hr>

                <!-- <h3 class="page-header">
                    Renting in San Francisco <span class="strikethrough"> is too damn expensive </span>  just got (mildly) more affordable.
                </h3> -->