 <!-- Slider start -->

  <section id="slider_part">
         <div class="carousel" id="carousel-example-generic" >
 <!-- Indicators -->
             <ol class="carousel-indicators text-center">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
             </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <div class="overlay-slide">
                        <!-- <img src="assets/header-sf-fog.jpg" alt="background_img" class="img-responsive"> -->
                        <img src="https://s3-us-west-2.amazonaws.com/rentmasters/header-sf-fog.jpg" class="img-responsive">
                    </div>
                     <div class="carousel-caption">
                        <div class="col-md-12 col-xs-12 text-center">
                            <h3 class="animated2"> Live in a rent-controlled apartment? </h3>
                            <div class="line"></div>
                            <h3 class="animated3 slider-subtext">Get paid <span class="highlight_green">over $20,000 </span> to move out. </h3>
                             <a href="quotes/new" class="animated3 btn-featured"> Get your Estimate </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="overlay-slide">
                        <!-- <img src="assets/header-sf-fog.jpg" alt="background_img" class="img-responsive"> -->
                        <img src="https://s3-us-west-2.amazonaws.com/rentmasters/header-sf-fog.jpg" alt="background_img" class="img-responsive">
                    </div>
                    <div class="carousel-caption">
                        <div class="col-md-12 col-xs-12 text-center">
                            <h3 class="animated2"> At Rent Masters we help San Francisco tenants understand and utilize one of their most valuable assets:
                            </h3>
                            <!-- <div class="line"></div> -->
                            <h2 class="animated3 slider-subtext">
                                <span class="highlight_green slider2-hero"><b>Their rent control.</b></span>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="overlay-slide">
                        <!-- <img src="assets/header-sf-fog.jpg" alt="background_img" class="img-responsive"> -->
                        <img src="https://s3-us-west-2.amazonaws.com/rentmasters/header-sf-fog.jpg" alt="background_img" class="img-responsive">
                    </div>
                    <div class="carousel-caption">
                        <div class="col-md-12 col-xs-12 text-center">
                            <h3 class="animated2"> Want to you know how much your rent control
                            <span class="highlight_green"> is really worth?</span>
                            </h3>
                            <div class="line"></div>
                                    <a href="quotes/new" class="animated3 btn-featured"> Find out now </a>
                                <h4 class="animated3 button-subtext"> Sign up now & be empowered. </h4>
                            </a>
                        </div>
                    </div>
                </div>

             </div>      <!-- End Carousel Inner -->

            <!-- Controls -->
            <div class="slides-control ">
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <!-- <span><img src="assets/left.png" class="fa fa-angle-left"></span> -->
                     <span><i class="fa fa-angle-left"></i></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span><i class="fa fa-angle-right"></i></span>
                    <!-- <span><img src="assets/right.png" class="fa fa-angle-left"></span> -->
                </a>
            </div>
        </div>

    </section>
<!--/ Slider end -->


<!-- Service Area start -->

    <section id="how-it-works" class="mobile-padding-1">
        <div class="container cl-b">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="feature_header text-center">
                            <h3 class="feature_title"> <b>How it works</b></h3>
                            <h4 class="feature_sub">
                            At Rent Masters we empower renters to make responsible and informed decisions. Namely, we can help you decide whether it would be a good decision to move out of your
                            apartment in exchange for a one-time <b> relocation bonus.</b>
                            </h4>
                            <div class="divider"></div>
                <hr>
                            <h4 class="feature_title font-subhead">   What's a relocation bonus?</h4>
                            <p class="feature_content_left  ">
                                Due to the sharp rise in the cost of housing in San Francisco over the last 5-10 years, landlords whose buildings are rent-controlled are increasingly willing to pay tenants to voluntarily vacate the building. Depending on how much the market rent has gone up since you began your lease, your landlord can potentially recoup thousands of dollars more per month from a new tenant paying market rent. Accordingly, landlords in recent years have been known to offer <span class="text-green"> <b> as much as $50,000 </b></span> to existing tenants who are willing to relocate.
                            </p>
                            <button class="btn btn-main btn-quote"><a class="how-button" href="quotes/new">  Estimate your relocation bonus</a> </button>
                        </div>
                    </div>  <!-- Col-md-12 End -->
                </div>
                <div class="row">
                    <div class="main_feature text-center">
                        <div class="col-md-3 col-xs-12 col-sm-6">
                                <div class="feature_content steps-box">
                                    <!-- <i class="fa fa-lightbulb-o"></i> -->
                                    <h4>Step 1<br><br>
                                    <span class="feature_steps"> Learn the Landscape </span> </h4>
                                    <p>
                                    Review your Rent Masters estimate, and discuss the topic with your roommates and/or significant others. Familiarize yourself with the process by exploring our FAQs below.
                                    </p>
                                    <div class="btn-bottom">
                                        <button class="btn btn-main"><a class="how-button" href="#faqs">  Jump to FAQs</a> </button>
                                    </div>
                                </div>
                            </div>
                        <div class="col-md-3 col-xs-12 col-sm-6">
                                <div class="feature_content steps-box">
                                    <!-- <i class="fa fa-pencil"></i> -->
                                    <h4>Step 2<br><br>
                                    <span class="feature_steps"> Initiate Contact </span> </h4>
                                    <p>Take the first step forward by scheduling a 30-minute <b>free consultation </b>with a member of the Rent Masters staff, where we'll explore your options and agree on the right approach and timeline. </p>
                                    <div class="btn-bottom">
                                        <button class="btn btn-main" ><a class="how-button" href="#contact"> Schedule Now </a> </button>
                                    </div>
                                </div>
                        </div> <!-- Col-md-4 Single_feature End -->
                        <div class="col-md-3 col-xs-12 col-sm-6">
                                <div class="feature_content steps-box">
                                    <!-- <i class="fa fa-cog"></i> -->
                                    <h4>Step 3<br><br>
                                    <span class="feature_steps"> Negotiate </span> </h4>
                                    <p>There is no such thing as a typical negotiation, but expect at least 1-2 weeks. During this stage, Rent Masters customers may choose to enlist the support from our network of legal services professionals. </p>
                                    <div class="btn-bottom">
                                        <button class="btn btn-main"> <a class="how-button" href="#pricing"> Pricing </a> </button>
                                    </div>
                                </div>
                        </div> <!-- Col-md-4 Single_feature End -->
                        <div class="col-md-3 col-xs-12 col-sm-6">
                                <div class="feature_content steps-box">
                                    <!-- <i class="fa fa-desktop"></i> -->
                                    <h4>Step 4<br><br>
                                    <span class="feature_steps"> Sign & Smile </span> </h4>
                                    <p>Once signed, San Francisco law stipulates a 45-day window during which you may rescind the agreement for any reason, so no need to pack right away. Typical payouts are 50% at signing and 50% after the 45 days.</p>
                                    <div class="btn-bottom">
                                        <button class="btn btn-main"> <a class="how-button" href="#faqs"> Read More </a> </button>
                                    </div>
                                </div>
                        </div> <!-- Col-md-4 Single_feature End -->
                        <!-- <button class="btn btn-main"> Read More</button> -->
                    </div>
            </div>  <!-- Row End -->
        </div>  <!-- Container End -->
    </section>
<!-- Service Area End -->


<!-- Basic Qualification  start -->
    <hr>
    <section id="do-i-qualify" class="mobile-padding-2">
                <div class="vertical_space cl-b"> </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h3 class="feature_title">Do I even <b>Qualify?</b></h3>
                        <h4 class="feature_sub">The long answer? It depends. So you might as well get a <a href="/quotes/new"> free estimate</a>. The four questions below should also give you a quick sense of whether or not Rent Masters makes sense for you. </h4>
                        <div class="divider"></div>
                    </div>
                </div>  <!-- Col-md-12 End -->
            </div>

            <div class="col-md-12">
              <div class="list-group">
                <div class="col-md-12 row">
                    <a href="#do-i-qualify" class="list-group-item">
                      <h4 class="list-group-item-heading col-md-10 fl-l">Have you rented in San Francisco for at least <b>3 years?</b></h4>
                        <div class="col-md-2 fl-r">
                            <img src="http://images.all-free-download.com/images/graphicthumb/green_globe_ok_tic_584.jpg" alt="qualify-checkboxes" class="qualify-checkboxes">
                        </div>
                      <p class="list-group-item-text fl-l">The longer you've been in your apartment, the more likely you are sitting on a substantial nest egg.</p>
                    </a>
                </div>

                <div class="col-md-12 row">
                    <a href="#do-i-qualify" class="list-group-item">
                      <h4 class="list-group-item-heading fl-l">Do you live in a rent-controlled building? <b>(built before 1979)</b></h4>
                      <p class="list-group-item-text col-md-10 fl-l">All multi-unit apartment buildings in SF that were built prior to 1979 fall under the rent-control ordinance. Not sure? Check your address at the SF Property Info Map at http://propertymap.sfplanning.org. </p>
                <div class="col-md-2 fl-r">
                    <img src="http://images.all-free-download.com/images/graphicthumb/green_globe_ok_tic_584.jpg" alt="qualify-checkboxes" class="qualify-checkboxes">
                </div>
                    </a>
                </div>

                <div class="col-md-12 row">
                    <a href="#do-i-qualify" class="list-group-item">
                      <h4 class="list-group-item-heading fl-l">Do you live in one of the many increasingly trendy neighborhoods in SF?</h4>
                      <p class="list-group-item-text col-md-10 fl-l">As you might expect, landlords in the tenderloin can't afford to be as generous as those in Hayes Valley or Russian Hill.</p>
                <div class="col-md-2 fl-r">
                    <img src="http://images.all-free-download.com/images/graphicthumb/green_globe_ok_tic_584.jpg" alt="qualify-checkboxes"class="qualify-checkboxes">
                </div>
                    </a>
                </div>

                <div class="col-md-12 row">
                    <a href="#do-i-qualify" class="list-group-item">
                      <h4 class="list-group-item-heading fl-l">Do you have a comfortable enough salary to afford paying market rent (in SF or elsewhere)?</h4>
                      <p class="list-group-item-text col-md-10 fl-l">No matter how good a deal you have today, if your long-term plan is to remain living in SF<b> as a renter for the foreseeable future, </b> then Rent Masters is probably not for you.</p>
                <div class="col-md-2 fl-r">
                    <img src="http://images.all-free-download.com/images/graphicthumb/green_globe_ok_tic_584.jpg" alt="qualify-checkboxes"class="qualify-checkboxes">
                </div>
                    </a>
                </div>
            <br>
            <h5 class="cl-b feature_sub text-center"><br> If you answered <span class="text-red"> no </span> to any of these questions, unfortunately Rent Masters is likely <span class="text-red"> not a good fit.</span> </h5>
            <div class="vertical_space cl-b"> </div>

              </div>
            </div><!-- /.col-sm-4 -->

        </div>
</section>
<!-- Basic Qual details end -->


<div class="clearfix"></div>


<!-- Pricing Table Start -->
<section id="pricing" class="pricing_overlay">
            <div class="vertical_space cl-b"> </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="feature_header text-center">
                    <h3 class="feature_title">Our <b>Pricing</b></h3>
                    <h4 class="feature_sub text-center">Like filing your taxes, you can do it yourself or opt for a trusted professional. We're here to help every step of the way, in the manner that best fits your needs. </h4>
                    <hr>
                    <h5 class="text-left"> After receiving your free Rent Masters estimate, all new users are encouraged to sign up for their complimentary 30-minute phone consultation, available within 14 days of signing up.</h5>
                    <div class="divider"></div>
                </div>
            </div>  <!-- Col-md-12 End -->

            <div class="text-center pricing">
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="single_table">
                    <div class="plan_wraper"></div>
                        <ul>
                            <li class="plan">Do it yourself<br><span>one-time-fee</span></li>
                            <li class="price"> $99 <span>one-time-fee</span></li>
                            <li> Free 30-minute consultation</li>
                            <li> Basic contract template</li>
                            <li> <span class="text-red"> No contract review </span></li>
                            <li> <span class="text-red"> No electronic payment disbursal </span></li>
                            <li class="price_button"> <button class="btn btn-main"> <a href="mailto:info@rentmasters.co?subject=My%20RentMasters%20Estimate&body=Hello,%0A%0AI%20just%20received%20an%20estimate%20from%20Rent%20Masters%20for%20the%20value%20of%20my%20rent-controlled%20apartment.%20I'm%20interested%20in%20moving%20forward%20and%20would%20like%20to%20schedule%20my%20consultation." target="_blank" >Sign Up Now!</a></button></li>
                        </ul>
                    </div>
                </div> <!-- Single col-md-4 End -->
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="single_table grey_bg  ">
                        <div class="plan_wraper"></div>
                        <ul>
                            <li class="plan">Standard  <br><span>refundable deposit</span></li>
                            <li class="price"> 10% fee <span>($99 deposit)</span></li>
                            <li> Unlimited access to market comps</li>
                            <li> Free 30-minute consultation</li>
                            <li> <span class="text-green"> Up to 5 hours of negotiation services </span></li>
                            <li> <span class="text-green">Full contract review </span></li>
                            <li> Electronic payment disbursal via wire transfer or Paypal.</li>
                            <li class="price_button"> <button class="btn btn-main featured"><a href="mailto:info@rentmasters.co?subject=My%20RentMasters%20Estimate&body=Hello,%0A%0AI%20just%20received%20an%20estimate%20from%20Rent%20Masters%20for%20the%20value%20of%20my%20rent-controlled%20apartment.%20I'm%20interested%20in%20moving%20forward%20and%20would%20like%20to%20schedule%20my%20consultation." target="_blank" > Sign Up Now!</a></button></li>
                        </ul>
                    </div>
                </div> <!-- Single col-md-4 End -->
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="single_table dark_bg">
                        <div class="plan_wraper"></div>
                        <ul>
                            <li class="plan">Premium  <br><span>refundable deposit</span></li>
                            <li class="price"> 15% fee <span>($99 deposit)   </span></li>
                            <li> Unlimited access to market-comps</li>
                            <li> Free 30-minute consultation</li>
                            <li> <span class="text-green"> <strong> Unlimited white-glove negotiation services </strong></span></li>
                            <li> Full contract review</li>
                            <li> Electronic payment disbursal </li>
                            <li class="price_button"> <button class="btn btn-main"><a href="mailto:info@rentmasters.co?subject=My%20RentMasters%20Estimate&body=Hello,%0A%0AI%20just%20received%20an%20estimate%20from%20Rent%20Masters%20for%20the%20value%20of%20my%20rent-controlled%20apartment.%20I'm%20interested%20in%20moving%20forward%20and%20would%20like%20to%20schedule%20my%20consultation." target="_blank" >Sign Up Now!</a></button></li>
                        </ul>
                    </div>
                </div> <!-- Single col-md-4 End -->
            </div>
        </div>
    </div>
</section>  <!-- Pricing Section End -->
<!-- Pricing Table End -->

<!-- About us start -->
 <section id="about" >
                <div class="vertical_space cl-b"> </div>
        <div class="container cl-b">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="feature_header text-center">
                            <h3 class="feature_title">About <b>Rent Masters</b></h3>
                            <p class="about-text text-left">
                                At Rent Masters our mission is to <b> empower tenants in San Francisco</b>. In January 2016 we are launching <span class="highlight_green"> Rent Masters Relocation Bonuses </span> as the first of an evolving suite of products. Over the course of 2016 and beyond, we plan on launching additional products that will further our long-term ambition of making San Francisco a more affordable and convenient city for all renters to call home. While we expect there will be a range of opinions and expect some level of debate around the Relocation Bonuses product (and its impact on the housing crisis), we are eager to be at the forefront of measuring that impact. In order to remain true to our mission, we look forward to sharing our data with the San Francisco Rent Board and SF Tenants Union, and hope to work closely with each of them to monitor the macro-level impact of buyouts on rent prices over the coming months. Furthermore, we fully intend to utilize the resources of the company to pursue a number of  initiatives later this year focused on directly increasing the supply of housing in San Francisco, which we believe is ultimately necessary in order to make San Francisco a more affordable place to live.
                            </p>
                        </div>
                    </div>  <!-- Col-md-12 End -->
                </div>
            </div>
        </div>
    </div>
</section>



<!-- About us End -->

<!-- FAQs Start -->
<section id="faqs">
        <div class="vertical_space cl-b"> </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="feature_header text-center">
                    <h3 class="feature_title">Frequently Asked <b> Questions</b></h3>
                    <h4 class="feature_sub"> Can't find what you're looking for? Please simply send your question by email to <a href="mailto:info@rentmasters.co" target="_blank"> info@rentmasters.co </a> </h4>

                    <div class="post_img text-left">
                        <h5 class="faq-question"> <span class="faq-q">Q:</span>
                            Is this even legal?
                        </h5>
                        <h5 class="faq-answer"> <span class="faq-a">A:</span>
                            Yes, it is 100% legal.
                        </h5>
                        <p class="faq-text">Not only is it generally legal for any two private parties (tenant and landlord) to willfully agree to a financial contract, the process of tenant-landlord buyout agreements is  specifically regulated in San Francisco by a series of laws enacted in March of 2015. The new regulations are intended to protect tenants and ensure that any agreement is mutually beneficial. In a nutshell, the process requires a number of filings and disclosures, which ensure that tenants are fully aware and informed of their rights, and prevents landlords from wrongfully pressuring uninformed tenants into making a poor decision. Rent Masters abides by all such regulations and disclosure requirements, and will connect interested customers with a preferred legal partner to review their case in depth. </p>
                    </div>
                    <div class="post_img text-left">
                        <h5 class="faq-question"> <span class="faq-q">Q:</span>
                            Will I have to pay taxes on this?
                        </h5>
                        <h5 class="faq-answer"> <span class="faq-a">A:</span>
                            Yes, most likely.
                        </h5>
                        <p class="faq-text">
                            While we do not have any certified accountants on-staff, we can refer you to qualified professionals should you seek formal tax advice. In all likelihood, you will be required to pay state and federal income tax on your share of the relocation bonus, at the same rate as your current marginal income bracket.
                        </p>
                    </div>
                <div class="post_img text-left">
                        <h5 class="faq-question"> <span class="faq-q">Q:</span>
                            Does this make the housing crisis worse?
                        </h5>
                        <h5 class="faq-answer"> <span class="faq-a">A:</span>
                            Most likely not, but markets are hard to predict.
                        </h5>
                        <p class="faq-text">
                            We'll share more data on this topic in the future when we have more data. As of today, all we can really do is speculate at the microeconomic level:
                            <ul>
                                <li class="faq-list" >
                                - The housing crisis in SF is primarily caused by an insufficient supply of housing that cannot accomodate the current demand of citizens to live in the city. </li>
                                <li class="faq-list">
                                - When demand exceeds supply, prices go up. If demand softens, prices go down.</li>
                                <li class="faq-list">
                                - If someone accepts a relocation offer and moves into another vacant unit in SF, their impact on total housing demand in San Francisco <span class="yellow">is neutral.</span></li>
                                <li class="faq-list">
                                    - On the other hand, if they instead take their relocation money and move elsewhere (to the East Bay, South Bay, Southeast Asia, etc.), then they are <b><span class="green">decreasing total housing demand </span> </b> by one unit, and thus actually helping reduce price pressure.
                                </li>
                            </ul>
                        </p>
                    </div>
                <div class="post_img text-left">
                        <h5 class="faq-question"> <span class="faq-q">Q:</span>
                            But won't average rent prices go up?
                        </h5>
                        <h5 class="faq-answer"> <span class="faq-a">A:</span>
                            Actually no, we expect average <b> market-rate rents </b> to fall.
                        </h5>
                        <p class="faq-text">
                            Even though the amount paid in any individual apartment will increase after the original tenant vacates the unit, the immediate impact on the market will be to increase the supply of vacant units by one. Even if a tenant simply moves within SF, the increased liquidity takes pressure out of the system. Even better, someone who takes their bonus and leaves SF permanently has directly reduced the demand by one unit. <br> <br>
                            Accordingly, the hypothetical economic impact is that we move closer toward a normal distribution of market rents. Today, because the "market-rent" is so extraordinary, the shadow market for shared rooms and subtenants has produced a bimodal distribution of rents, basically between the rent-control haves and have-nots. If all eligible Rent Control customers accepted offers, we would expect to see a much closer distribution of rents in the city, with <b>market-rate </b>prices coming down, while average out-of-pocket rent amounts would be higher because more folks would be paying the market-rate. In other words, you might be able to find a decent 1-bedroom again for $2400, but the days of finding a shared room for $1200 will have disappeared.
                        </p>
                    </div>
                </div>
            </div> <!-- blog Timeline End -->
        </div>
    </div>
</section>
<!-- BLOG End -->


<!-- Conatct Area Start-->

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="feature_header text-center">
                    <h3 class="feature_title">Become a <b>Rent Master</b> today!</h3>
                    <h4 class="feature_sub">Schedule your free 30-minute consultation. Or call us at (740)473-6873. </h4>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
        <div class="row">
             <div class="contact_full">
                <div class="col-md-6 left">
                    <div class="left_contact">
                        <form action="role">
                            <div class="form-level">
                                <input name="name" placeholder="Name" id="name"  value="" type="text" class="input-block">
                                <span class="form-icon fa fa-user"></span>
                            </div>
                            <div class="form-level">
                                <input name="email" placeholder="Email" id="mail" class="input-block" value="" type="email">
                                <span class="form-icon fa fa-envelope-o"></span>
                            </div>
                            <div class="form-level">
                                <input name="name" placeholder="Phone" id="phone" class="input-block" value="" type="text">
                                <span class="form-icon fa fa-phone"></span>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-6 right">
                    <div class="form-level">
                        <textarea name="" id="messege"  rows="5" class="textarea-block" placeholder="message"></textarea>
                        <span class="form-icon fa fa-pencil"></span>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <h1> <br> <br> <br> </h1>
                    <a href="mailto:info@rentmasters.co?subject=My%20RentMasters%20Estimate&body=Hello,%0A%0AI%20just%20discovered%20your%20website%20and%20am%20interested%20in%20moving%20forward%20and%20would%20like%20to%20schedule%20my%20consultation." target="_blank" class="btn-featured font-cta"> Contact Us </a>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Back To Top Button -->
    <div id="back-top">
        <a href="#slider_part" class="scroll" data-scroll>
            <button class="btn btn-primary" title="Back to Top">
                <i class="fa fa-angle-up"></i>
                    Back to Top
                <i class="fa fa-angle-up"></i>
            </button>
        </a>
    </div>
    <!-- End Back To Top Button -->

