<div class="vertical_space cl-b"> </div>

<div class="col-md-6">
  <h1>First time here?</h1>
  <form action="/register" method="post">
    <ul>
      <li>
        <label for="username"> Username: </label>
        <input id="title" name="user[username]" type="text" 
      </li>
      <li>
        <label for="email"> Email: </label>
        <input id="title" name="user[email]" type="text">
      </li>
      <li>
          <label for="password"> Password: </label>
          <input id="title" name="user[password]" type="text">
      </li>
      <li>
        <input type="submit" value="Create your account" class="button">
      </li>
    </ul>
  </form>
</div>


<div class="col-md-6">
<h1> Returning Visitors: Sign in below:</h1>
  <form action="/login" method="post">
    <ul>
    <li>
      <label for="email"> Email: </label>
      <input id="title" name="email" type="text" >
    </li>
    <li>
      <label for="password"> Password: </label>
      <input id="title" name="password" type="text" >
    </li>
    <li> 
      <input type="submit" value="Login" class="button">
    </li>
  </ul>
</form>
</div>
<div class="vertical_space cl-b"> </div>
