<section class="col-md-12"> 
	<div class="main_feature text-left">
		<br><h1> Terms of Service ("Terms")</h1>

		<br> <strong> Last updated: January 1st, 2016 </strong>
		<p> Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the
			http://www.rentmasters.co website (the "Service") operated by Rent Masters, LLC.
		</p>
		<p> Your access to and use of the Service is conditioned on your acceptance of and compliance with
			these Terms. These Terms apply to all visitors, users and others who access or use the Service.
			By accessing or using the Service you agree to be bound by these Terms. If you disagree with
			any part of the terms then you may not access the Service.
		</p>
		<br>
		<h1>
			An Important Legal Disclaimer to all users: <strong> WE ARE NOT A LAW FIRM.</strong> 
		</h1>
		<p>
			Rent Masters, LLC is not a law firm, and Rent Masters employees will never act as your lawyer. Rent Masters, LLC and its staff does not practice law, does not give legal advice, and is not a substitute for an attorney, lawyer or law firm. Our services are targeted exclusively for informational purposes on the increasingly common topic of tenant-landlord buyout agreements. The information we provide does not necessarily represent the opinion of Rent Masters, LLC, and users are responsible for making their own interpretation of the presented information. As a user, you are responsible for representing yourself in any legal matter that you undertake before or after using the services on this website. 
		</p>
		<br>
		<p>
			The resources and information found on this website does not constitute legal advice, nor does the choice to user Rent Masters services establish an attorney-client relationship. The recommendations found on the site is generic in nature and should not be understood as a substitute for obtaining personal legal advice. 
		</p>
		<br>
		<p>
			Accordingly, it is unlawful for any members of the Rent Masters staff to help customers interpret legal materials they read or to advise them how the law might apply to their situation because these actions would constitute the unauthorized practice of law. It would also require an amount of personal service that we are not equipped to provide. For those reasons, during your 30-minute consultation, a Rent Masters professional will not be able to provide legal advice as to your current situation as a renter. They are bound by law to limiting themselves to advising you which materials might be helpful to you (such as the <a href="http://sfrb.org/landlord-tenant-information">San Francisco Rent Board</a>), where they are located, and how to find additional information. Please do not think our staff is being uncooperative when they suggest that you interpret the materials you read for yourself and make your own decisions as to how the material you have read applies to your specific legal situation. After your consultation, if you need further help in understanding your specific legal situation, you may wish to consult a legal professional that is a member in good standing with the California Bar Association.
		</p>
		<br><h1> Termination</h1>
		<p> We may terminate or suspend access to our Service immediately, without prior notice or liability,
			for any reason whatsoever, including without limitation if you breach the Terms.
		</p>
		<p>All provisions of the Terms which by their nature should survive termination shall survive
			termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity
			and limitations of liability.
		</p>
		<br><h1> Links To Other Web Sites</h1>
		<p>Our Service may contain links to third­party web sites or services that are not owned or controlled
			by Rent Masters, LLC.
		</p>
		<p>
			Rent Masters, LLC has no control over, and assumes no responsibility for, the
			content, privacy policies, or practices of any third party web sites or services. You further
			acknowledge and agree that Rent Masters, LLC shall not be responsible or liable,
			directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection
			with use of or reliance on any such content, goods or services available on or through any such
			web sites or services.
		</p>
		<p> We strongly advise you to read the terms and conditions and privacy policies of any third­party
			web sites or services that you visit.
		</p>
		<br>
		<h1>Governing Law</h1>
		<p>
			These Terms shall be governed and construed in accordance with the laws of Country (change
			this), without regard to its conflict of law provisions.
		</p>
		<p>
			Our failure to enforce any right or provision of these Terms will not be considered a waiver of
			those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the
			remaining provisions of these Terms will remain in effect. These Terms constitute the entire
			agreement between us regarding our Service, and supersede and replace any prior agreements
			we might have between us regarding the Service.
		</p>
		<br><h1> Changes</h1>
		<p>
			We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a
			revision is material we will try to provide at least 30 (change this) days notice prior to any new
			terms taking effect. What constitutes a material change will be determined at our sole discretion.
		</p>
		<p> By continuing to access or use our Service after those revisions become effective, you agree to
			be bound by the revised terms. If you do not agree to the new terms, please stop using the
			Service.
		</p>
		<br><h1> Contact Us</h1>
		<p> 
			If you have any questions about these Terms, please contact us at <a href="mailto:rentmasters.sf@gmail.com">rentmasters.sf@gmail.com</a>.
		</p>
	</div>
</section>