<!DOCTYPE html>
<html>
  <html lang="en">
<head>
    <title>Rent Masters - Empowering Tenants in San Francisco</title>
    <link rel="icon" type="image/png" href="https://s3-us-west-2.amazonaws.com/rentmasters/RM-favicon.png?X-Amz-Date=20151222T052050Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=5dde5d67cf1e984e36533a09c6efe67c2aa4c7909f9386f07f9bdb6c5d565aaf&X-Amz-Credential=ASIAI2GVBIKO7ORE52XQ/20151222/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEOb//////////wEagAIzoUAyllLYvxUUq6EeW4pFfdbaWvZ5bZVGeT%2BJX6l7bY0ZcLc99tFKGdH1EP5mnz6RsWyXxDwlv/Dnj3TqYWLPF/mc4xe%2BIp%2BjLDKtnqDDsQPgZinWOV2eYbfRRbhkQ2cYAhpw2Va1X4mWIxHJFC5PsByifmXN5DDzjZQ7%2BCIokOVjqH2HEhyWuH%2BocdLWySoTMH9wD2ZQoUKX/D8UOvZe3fSs69iCLjdvWIBgDZnClvLfOU3qru3dsi5l6qUlFHnMfCGGqBS/HSUdjfgBpLnGsl7nyWUaqjutq/pQEPCeQdj/kbPQXM%2BL5lviMOD9daOFhImeW5QKhTOfVArRILOIIIq547MF">
<!--     <link rel="icon" type="image/png" href="../assets/RM-favicon.png">
 -->    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <!-- Basic Page Needs
    ================================================== -->
        <meta charset="utf-8">
        <meta name="description" content="">
        <!-- Mobile Specific Metas
    ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
         <!-- CSS
         ================================================== -->
    
</head>
<body>



<%= yield %>




</body>

<!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Rent Masters, LLC 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
</html>
